
  <form action="" method="post">
    <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
    <button class="follow-toggle" data-user-id = "<%=user.id%>" 
            data-follow-state = "<%= current_user.follows?(user) %>" 
            value="Follow"></button>
  </form>

